<!-- this is the ejs partail for the default page footer -->

  </nav>
  <nav class="navbar bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/logos/booksummary.png" alt="BookSummary" width="100" height="100">
      </a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">BookSummary</a>
        </li>
      </ul>
    </div>
  </nav>
<br>
<nav class="navbar bg-light">
  <div class="container">
    <a class="navbar-brand" href="https://https://thebeanboard.herokuapp.com/">
      <img src="/assets/logos/beantherelattely.ico" alt="BeanThereLatterly" width="100" height="100">
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item text-center">
        <a class="nav-link" href="https://thebeanboard.herokuapp.com/">BeanThereLatterly</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar bg-light">
  <div class="container">
    <a class="navbar-brand" href="https://boiling-springs-74293.herokuapp.com/dbcards">
      <img src="/assets/logos/learntocode.png" alt="Learn to Code" width="100" height="100">
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item text-center">
        <a class="nav-link" href="https://boiling-springs-74293.herokuapp.com/dbcards">Learn to Code</a>
      </li>
    </ul>
  </div>
</nav>