<!-- this is the ejs partail for the default page footer -->
<div class="container-apps">
  <div class="app-container">
    <a class="navbar-brand" id="aotravens" href="https://aotravens.herokuapp.com/"><img src="/assets/logos/AoR.ico"
        alt="Attack of the Ravens" width="100" height="100"></a>
    <a class="nav-link" href="https://aotravens.herokuapp.com/"></a>
  </div>
  <div class="app-container">
    <a class="navbar-brand" id="beanboard" href="https://beanboard.herokuapp.com/"><img
        src="/assets/logos/beantherelattely.ico" alt="BeanThereLatterly" width="100" height="100"></a>
    <a class="nav-link" href="https://beanboard.herokuapp.com/"></a>
  </div>
  <div class="app-container">
    <a class="navbar-brand" id="fullstack" href="https://fullstack-test-1.herokuapp.com/home"><img
        src="assets/logos/readsum_multiQVp_icon.ico" alt="Learn to Code and book summaries" width="100" height="100"></a>
    <a class="nav-link" href="https://fullstack-test-1.herokuapp.com/home"></a>
  </div>
  <div class="search">  
    <form class="form">
      <input class="form-control-input" type="search" placeholder="Search" aria-label="Search" id="nav-search-input">
    </form>
  </div>
</div>