   
  </nav>
  <nav class="navbar bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="\assets\logos\Logo Files\For Web\Logo Files\For Web\logo-nobackground-200.png" alt="" width="100" height="100">
      </a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item text-center">
          <a class="nav-link" href="#">BookSummary</a>
        </li>
      </ul>
    </div>
  </nav>

<br>
<nav class="navbar bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="\assets\logos\Logo Files\For Web\Logo Files\For Web\logo-nobackground-200.png" alt="" width="100" height="100">
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item text-center">
        <a class="nav-link" href="#">Learn to Code</a>
      </li>
    </ul>
  </div>
</nav>