<!-- this is an ejs partial for the default html head section -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>nzWebApps</title>
<link rel="icon" type="image/x-icon" href="/assets/logos/logoeditlowres.png">
<!-- my custom css -->
<link href="/css/style.css" rel="stylesheet" type="text/css">