<!-- this is the ejs partial for the default nav-header -->
<nav>
  <div class="nav">
    <a id="play" href="https://aotravens.herokuapp.com/">Play</a>
    <a id="blog" href="https://beanboard.herokuapp.com/">Blog</a>
    <a id="Learn" href="https://fullstack-test-1.herokuapp.com/home">Learn</a>
  </div>
</nav>