<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>m Y c</title>
    <!-- bootstrap links -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- TinyMCE TinyCloud -->
    <script src="https://cdn.tiny.cloud/1/ujgjcafaxany84havwpdkgpdrpv6v3ro0fsoc22atiz8erin/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    {{!-- custom script other custom content link --}}
    <script src="/client.js"></script>
    <link rel="icon" type="image/x-icon" href="/favicon_io/readsum_resizeimage.jpeg">
    {{!-- custom CSS --}}
    <link rel="stylesheet" href="./css/site.css">
    <link rel="stylesheet" href="css/utils.css">
    {{!-- google fonts and stylesheets --}}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light bg-light sticky-top">
        Book Summaries
        <form style="display: inline;" class="form-inline mr-2 my-lg-3" action="/search" method="POST">
            <input class="form-control mr-sm-2" type="search" name="searchString" placeholder="Search Books" autocomplete="off" aria-label="Search">
    </nav>
    <div class="container-fluid">
        {{{body}}}
    </div>
</body>
</html>