<div>
  <h1>Full List of Available Book Summaries</h1>
  <table class="table table-hover">
  <thead>
    <th>ID</th>
    <th>Name</th>
  </thead>
  <tbody>
    {{#each data}}
  <tr>
    <td>{{id}}</td>
    <td><a href="/api/courses/{{id}}">{{name}}</a></td>
  </tr>
  </tbody>
  {{/each}}
  </table>
</div>