:root {
  --body-container: 2px dashed red;
  --nav: 2px dashed blue;
  --main-logo: 2px dashed green;
  --container-apps: 2px dashed blueviolet;
  --app-container: 2px dashed black;
  --search: 2px dashed rgb(3, 80, 80);
  
}

.body-container {
  /* border: var(--body-container) */
  display: grid;
  
}

.nav {
  /* border: var(--nav); */
}

.main-logo {
  /* border: var(--main-logo); */
}

.container-apps {
  /* border: var(--container-apps); */
}

.app-container {
  /* border: var(--app-container); */
}

.search {
  /* border: var(--search); */
}

#nav-search-input {
  box-shadow: -3px 8px 18px darkgray;
}



.nav>a {}

.navbar-brand {}



@media (hover :hover) {

  /* targets only devices that can hover*/
  .nav>a:hover {
    font-size: 1.2rem;
    color: orangered
  }
}

.nav>a:focus {
  font-size: 1.2rem;
  color: orangered
}

@media only screen and (max-height: 100px) {}