.nav {
  /* border: 1px solid red;
  background: grey; */
  position: sticky;
  display: flex;
  flex-direction: row;
  gap: 15vw;
  justify-content: space-evenly;
  width:100vw;
}

.nav > a {
  padding-top: .5rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: darkgray
}

.navbar-brand {
  opacity: 1;
}

@media (hover :hover) {
/* targets only devices that can hover*/
  .nav > a:hover{
  font-size: 1.2rem;
  color: orangered
  }
}

.nav > a:focus{
  font-size: 1.2rem;
  color: orangered
}

.main-logo{
  position: absolute;
  top: 13vh;
  left: -8vw;
  opacity: 1; 
}

.container-apps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  top: 50vh;
  /* padding: 8vw; */
  justify-content: space-evenly;
  width:100vw;
}

.search {
  position: relative;
  top: 15vh;
}

#nav-search-input {
  box-shadow: -3px 8px 18px darkgray;
}
