<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<header>
  <%- include('../partials/header'); %>
</header>

<body class="container">

<main>
  <div class="jumbotron-fluid text-center">
    <img src="\assets\logos\Logo Files\For Web\Logo Files\For Web\logo-original-500.png" alt="logo">
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>