<!DOCTYPE html>
<html lang="en">
<head><%- include('../partials/head'); %></head>
<header><%- include('../partials/header'); %></header>
<body class="body-container">
  <main>
    <div class="main-logo">
      <img id="mainlogo" src="\assets\logos\Logo Files --no text\For Web -no text\logo-nb-nt-smiley-500.png" alt="logo">
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>